<a href="https://colab.research.google.com/github/Karimi-Gichunge/Independent_project_week4/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2020_07_Winfred_Karimi_PythonNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importing libraries** **and loading datasets**

In [1]:
#import libraries to our working environment
import pandas as pd

import numpy as np

In [3]:
#loading dataset
df = pd.read_csv('Autolib_dataset (2).csv')

## **Previewing the dataset**

In [4]:
#previewing dataset
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [6]:
#Looking at the basic information of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

### **Data Cleaning**

1.   **Consistency**

In [8]:
#Duplicates
#The columns cars and Blue Car Counter both contain values that are a duplicate of each other.
#Therefore,one of the columns will be dropped as shown below
df1 = df.drop(columns=['Cars'])
#Previewing the new table
df1.head()

                              Address  Bluecar counter  ...  hour  minute
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23

[5 rows x 24 columns]



2.   **Validity**

In [19]:
#We drop any rows that are irrelevant in our dataset
#In this case we drop all the rows where data was taken from stations where 'Rental Status' was equal to 'future'
#And 'Kind' equal to 'Center'
#There are no resources at these stations
future = df1[(df1['Rental status'] == 'future') & (df1['Kind'] == 'CENTER')].index
# Deleting these row indexes from dataFrame
df1.drop(future , inplace=True)
# Checking the shape to make sure that the rows have been removed
df1.shape
#47 rows that had values in the column 'Scheduled at' have been dropped successfully

(4953, 24)

In [23]:
#We can also drop the column 'Scheduled at' now that it's no longer relevant
#We can also drop the column 'Displayed comment'
df2 = df1.drop(columns=['Scheduled at', 'Displayed comment'])
#Checking the shape to make sure that the column has been removed
df2.shape
#Two columns have been removed successfully

(4953, 22)



3.  **Accurancy**

In [25]:
 nr = df2[ (df2['Bluecar counter'] < 0) & (df2['Bluecar counter'] > 7) ].index
 df2.drop(nr , inplace=True)
 df2.shape

(4953, 22)